<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assessment.css" />
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    />
    <script src="script.js" defer></script>
    <title>Self-Assessment Form</title>
    <style>
    img {
  width: 50%;
    height: 50%;
    margin-left: auto;
  margin-right: auto;
  display: block;
  }
  </style>
  </head>

  <body>
    <form action="#" class="form">

      <!-- Progress bar -->


      <!-- Steps -->
<img src="tick mark.png" alt="tick mark">
        <div class="input-group">

          <h1 class="text-center"> Registeration Complete!</h1>
        </div>
        <div class="input-group">
      <p class="text-center">Your account has been created.</p>
      <p class="text-center">Thank you for signing up with DiabetesCare. </p>

        </div>



      <div>

        <a href="#" class="btn btn-prev">Go to login page</a>


      </div>

  </form>
  </body>
  </html>
